.btn-blue {
  background-color: #153e90;
  color: white;
  font-weight: bold;
  transition: color 0.5s ease;
  padding:10px 20px;
  border-radius: 4px;
  text-decoration: none;
  font-family: roboto, sans-serif;
}

.btn-blue:hover {
  background-color: black;
  color: white;
}
